<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="retrieve_icons" type="bool" default="false" label="30000"/>
    <setting id="include_disabled_channels" type="bool" default="false" label="30001"/>
    <setting type="sep"/>
    <setting id="quality" type="select" label="30002" values="30010|SD|HD" default="SD"/>

</settings>
